<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width=device-width", initial-scale=1.0>
        <link rel="stylesheet" href="{{ url_for('static', filename='/graphics.css') }}">
        <Title>Gráfica por años</Title>
    </head>
    <body>
        <div>
            <h1>Dataset Esperanza de vida mundial (1960-2015)</h1>
        </div>
        <br>
        <div>
            <h2>Visualización de los datos asociados a la esperanza de vida mundial como Dataset:</h2>
            <h3>Country: País</h3>
            <h3>Country Code: Código del país seleccionado</h3>
            <h3>Income Group: Grupo al que pertenece según sus ingresos</h3>
            <h3>Year: Año de registro de los datos</h3>
            <h3>Life expectancy: Esperanza de vida por año</h3>
        </div>
        <br>
        <div>
        {% for table in tables %}
            {{ table|safe}}

        {% endfor %}
        </div>
    </body>
</html>