<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width=device-width", initial-scale=1.0>
        <link rel="stylesheet" href="{{ url_for('static', filename='/graphics.css') }}">
        <Title>Gráfica por país</Title>
    </head>
    <body>
        <div>
        <h1>Esperanza de vida de {{pais_name}}</h1>
        </div>
        <br>

        <div>
            <h2>Visualización de los datos asociados a la esperanza de vida mundial para un país determinado ({{pais_name}}):</h2>
            <h3>Country: País ({{pais_name}})</h3>
            <h3>Country Code: Código del país seleccionado</h3>
            <h3>Income Group: Grupo al que pertenece según sus ingresos</h3>
            <h3>Year: Año de registro de los datos</h3>
            <h3>Life expectancy: Esperanza de vida por año</h3>
        </div>
        <br>

        <div>
        <img src="data:image/png;base64, {{  plot_url  }}">
        </div>
        <br>
        {% for table in tables %}
            {{ table|safe}}
        <br>
        <div>
        {% endfor %}
        {% for item in info_est %}
        <li>{{ item }}</li> 
        {% endfor %}
        </div>
    </body>
</html>
</html>